#main-area
   header
      .container.navbar-static-top
         nav.navbar-collapse(role="navigation")
            include _menu
   main.container
      block main
footer
   .container.navbar-static-top
      nav.navbar-collapse
         include _menu

