/* общие элементы */
*{
    box-sizing: border-box;
}
html, body{
    background-color:#333;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* теги */
div:not(#page){
    padding: 1em;
}
footer{
    background-color: #bbffaa;
    position:relative;
    padding:0;
    width: 100%;
}
/* id id */
#flex-placeholder{
    visibility:hidden;
    padding-top: 0;
}
#footer{
    background-color:orange;
    position: absolute;
    top: 0;
    bottom:0;
    left: 8px;
    right: 8px;
    padding: 0;
}
#page{
    background-color: #ddd;
    display:flex;
    flex-wrap: wrap;
    min-height:100%;
}
/* составные селекторы */
/* одноуровневые */
#content-box,
footer{
    align-self: auto;
}
/* двухуровневые */
nav ul, footer ul{
    display:table;
    padding: 0;
}
footer ul{
    background-color: floralwhite;
    position:absolute;
    bottom:0;
    margin: 0;
}
/* многоуровневые */
footer ul li{
    display: table-cell;
    float: left;
}
nav ul li, nav ul li a, footer ul li a{
    display: table-cell;
    padding:4px 8px;
}

/* test */
#content-box {
    background-color: #aabbff;
}
