/*  layout  */
html, body{
    height:100%;
}
#main-area{
    margin-bottom:-50px;
    min-height: 100%;
    padding-bottom:50px;    
}
/*  tags    */
a.navbar-brand{
    font-size:16px;
}
body{
    font-size:16px;
}
footer{
    background-color: rgb(230,230,230);
}
header{
    background-color:#ddd;
}
header nav{
    overflow:hidden;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}
/* media queries */
@media (min-width: 768px){
    .container>.navbar-collapse{
        margin:auto -15px;
    }       
}
@media (max-width: 767px){
    ul.navbar-nav{
        margin-bottom:auto;
        margin-top:auto;
    }
}