/*  layout  */
html, body{
    height:100%;
}
#main-area{
    margin-bottom:-50px;
    min-height: 100%;
    padding-bottom:50px;    
}
/*  tags    */
a.navbar-brand{
    font-size:16px;
}
body{
    font-size:16px;
}
footer{
    background-color: rgb(230,230,230);
}
header{
    background-color:#ddd;
}
header nav{
    overflow:hidden;
}
.clear{
    clear: both;
}
.display-block{
	display: block;
	width: 100%;
}
.display-table{
	display: table;
}
.flex{
	display: flex;
}
.max-with-100{
	max-width: 100%;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}
.width-100{
	width: 100%;
}
/* id id */
#messages-area{
	margin: 4px auto;
}
#messages-area, #messages-box{
	max-width: 600px;
}
/* media queries */
@media (min-width: 768px){
    .container>.navbar-collapse{
        margin:auto -15px;
    }       
}
@media (max-width: 767px){
    ul.navbar-nav{
        margin-bottom:auto;
        margin-top:auto;
    }
}